.shape {
	position: absolute;
	touch-action: manipulation;
}

.shape[operator="add"] {
	background: white;
}

.shape[operator="subtract"] {
	background: black;
}

[mode="edit"] .shape::after {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	content: "";
	border: 0.125rem solid;
	pointer-events: none;
	z-index: 1;
	opacity: 0.3;
}

.shape:focus::after {
	opacity: 0.7;
}

.shape[operator="add"]::after {
	border-color: goldenrod;
}

.shape[operator="subtract"]::after {
	border-color: slateblue;
}

.shape[operator="subtract"] {
	background: black;
}

.shape[shape="circle"], .shape[shape="circle"]::after {
	border-radius: 50%;
}
.shape[shape="ramp"][position="bottomLeft"][operator="subtract"] {
	background: url("rampBottomLeftSubtract.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="topLeft"][operator="subtract"] {
	background: url("rampTopLeftSubtract.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="bottomRight"][operator="subtract"] {
	background: url("rampBottomRightSubtract.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="topRight"][operator="subtract"] {
	background: url("rampTopRightSubtract.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="bottomLeft"][operator="add"] {
	background: url("rampBottomLeftAdd.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="topLeft"][operator="add"] {
	background: url("rampTopLeftAdd.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="bottomRight"][operator="add"] {
	background: url("rampBottomRightAdd.png");
	background-size: 100% 100%;
}

.shape[shape="ramp"][position="topRight"][operator="add"] {
	background: url("rampTopRightAdd.png");
	background-size: 100% 100%;
}